@font-face {
  font-family: 'Montserrat';
  src: url('../src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;  
  font-display: swap;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../src/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; 
  font-display: swap;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  @media (max-width:991px) {
    height: 100dvh;
  }
}
main {
  transition: transform 1s ease, opacity 1s ease;
  transform: translateY(-50px);
  opacity: 0;
}

main.visible {
  transform: translateY(0);
  opacity: 1;
}
html, body {
  margin: 0;
  overflow: hidden;
}

body {
  position: relative;
  color: white;
  font-weight: 274;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  font-family: 'Montserrat', sans-serif;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  background-image: url('/public/tlo.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  z-index: -1;
  pointer-events: none;
}


body.omnieBG {
  overflow-y: auto;
}
.lg-react-element {
    margin: auto;
    width: 100% !important;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;

    scrollbar-width: thin;       
    scrollbar-color: #ccc transparent; 
}
.lg-react-element a:hover{
  transform: unset;
}
.lg-react-element a{
  margin: 5px 0;
}
.lg-react-element::-webkit-scrollbar {
    height: 6px;     
    width: 6px;    
}
.lg-react-element::-webkit-scrollbar-button {
  display: none; 
}

.lg-react-element::-webkit-scrollbar-track {
    background: transparent; 
}

.lg-react-element::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 3px;       
    border: 1px solid transparent;
}
 



.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.app{
  position: relative;
}
.App-header{
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
     @media (max-width:991px) {
      position: unset;
     }
}
.header{
  margin: auto;
  display: flex;
  gap: 50px;
  justify-content: right;
  overflow: hidden;
  max-height: 200px;
  padding: 0px 50px;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  max-width: 1400px;
  @media (max-width:991px) {
    gap: 10px;
    opacity: 0.9;
    max-height: 0px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 10000000;
    flex-direction: column;
    text-align: right;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: white;
  }
}
.header.is-active{
  @media (max-width:991px) {
    opacity: 0.9;
    height: auto;
    max-height: 300px;
  }
}

.schowany {
  opacity: 0;
  max-height: 0;
}


a{
  text-decoration: none;
  color: #000;
  margin: 20px 0px;
  transition: all 0.5s;
  text-transform: uppercase;
  font-size: 16px;
  @media (max-width:991px) {
    padding: 5px;
    padding-right: 10px;
    font-size: 14px;
    margin: 0;
  }
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #7c7c7c;
  transition: width 0.3s ease;
}

a:hover {
  color: #7c7c7c;
  cursor: pointer;
  transform: translateY(-2px);
}

a:hover::after {
  width: 100%;
}

.hejkanaklejka{
  margin-top: 4vh;
  @media (max-width:991px) {
    margin-top: 20px;
  }
}

.duzynapis{
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: black;
  @media (max-width:991px) {
    font-size: 30px;
    margin-top: 10px;
  }
}
.imie{
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}
.projekty {
  position: relative;
  margin-top: 10px;
  padding-top: 20px;
  height: 100%; 
  overflow-y: auto;         
  opacity: 1;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  overflow-y: auto;
  max-height: 80vh;
  @media (max-width:991px) {
    max-height: 65vh;
  }
}

.projekty::-webkit-scrollbar {
  display: none;
}

.projekty > div {
  height: auto; 
}

.margin{
  margin-top: 10px;
}

.col-12 {
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
}

@media (min-width: 992px) {
  .col-lg-6 {
    width: 50%;
    box-sizing: border-box;
    width: calc(50% - 80px);
  }
}

.didplayflex{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  @media (min-width: 992px) {
    gap: 60px;
  }
  @media (max-width:991px) {
    display: block;
    width: 95%;
    margin: auto;
  }
}
.didplayflex:last-of-type .projekt:last-of-type {
  margin-bottom: 200px;
}

/* .tralalirakomputira{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
    width: 90%;
} */

.header a.active {
  font-weight: 500;
}
.testest{
  font-family: 'Playfair Display', serif;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
  color: black;
  width: 90%;
  padding-bottom: 20px;
  @media (min-width:992px) {
    margin-left: 50px;
    width: 100%;
  }
}


.thumb-image {
  transition: opacity 0.8s ease-out, transform 0.5s ease-out;
  will-change: opacity, transform, filter;
}

.modal-overlay.show {
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}
.hamburger{
  display: none;
  @media (max-width:991px) {
    background-color: white;
    opacity: 0.9;
    display: block;
    color: black;
    font-size: 22px;
    align-content: center;
    text-align: right;
    padding: 10px;
    box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.3);
  }
}
.hamburger.is-active{
  @media (max-width:991px) {
    box-shadow: none;
  }
}
.modal-thumbs{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding: 12px;
}
.thumb-image{
  width: 100% !important;
  height: auto !important;
}
.lazy-load-image-background{
  width: 100% !important;
  height: auto !important;
}

@keyframes bounce {
    0% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(10px); }
    100% { transform: translateX(-50%) translateY(0); }
}

.duzynapis,
.imie,
.textpod {
  text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

.preloader-logo {
  position: static;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 200px;
  height: auto;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}


.hidden {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease;
}
.imgCV{
  max-width: 100%;
  max-height: calc(100vh - 59px);
  @media (max-width:991px) {
    max-height: calc(100vh - 50px);
  }
  height: auto;
  object-fit: contain;
  align-self: start;
  border-radius: 0px;
}










